include CMakeLists.txt
include LICENSE
include pyproject.toml
include pytest.toml
global-include *.cmake
global-include *.cmake.in
recursive-include pythonAPI/omegah2csg/lib *.so
recursive-include src *.cc
recursive-include src *.cpp
recursive-include src *.h
recursive-include tests *.py
recursive-include tests *.osh
