include CMakeLists.txt
include LICENSE
include pyproject.toml
include pytest.ini
global-include *.cmake
global-include *.cmake.in
recursive-include src *.cc
recursive-include src *.cpp
recursive-include src *.h
recursive-include src *.hh
recursive-include src *.hpp
recursive-include tests *.dat
recursive-include tests *.py
